

.form-table th {
    width: 25%;
    text-align: left;
    padding: 10px;
}

.form-table td {
    padding: 10px;
}

.form-table img {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.button-primary {
    background: #0073aa;
    border-color: #0073aa;
    color: #fff;
}

.button-primary:hover {
    background: #006799;
    border-color: #006799;
}

#toplevel_page_ada_tamil_writer .wp-menu-image img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

#wpadminbar ul li.selected a {
    opacity: 0.6;
    filter: alpha(opacity=60);
    background-color: white;
    color: black;
    text-shadow: none;
}

